body {
background-color: #124e0d;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #2f8a37;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}